
body {
    background-image: url("https://cdn-images-1.medium.com/max/2600/1*7243efiQ5XEy672hwU2V6g.jpeg");
    background-position:center;
}
#state-group, #school-group {
    width: 90%;
    margin: 1rem auto;
}

.card-body {
    background-color:gray;
    color: white;
}

.carousel-item {
   max-height: 600px;
 }

 .carousel-caption {
     background-color: gray;
     opacity: .8;
 }