html {
    /* Opinion (Terrence): This background is a jarring. Would recommend something softer/neutral
    /* background-image: url("https://cdn-images-1.medium.com/max/2600/1*7243efiQ5XEy672hwU2V6g.jpeg"); */
    background-image: linear-gradient(to right top, #80ffd4, #62edd9, #4fdada, #4bc6d6, #52b2cc);
    height: 100vh;
    background-attachment: fixed;
}

body {
    background: transparent;
}

#nav {
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
}

#background-pin {
    position: fixed;
    float: left;
    z-index: -100;
    bottom: 0;
    opacity: 0.5;
}

.input-selectors {
    position: absolute;
    left: 25%;
    top: 40%;
    margin: 0 auto;
    width: 50%;
    z-index: 3;
}

#selector-background-color {
    margin: auto;
    padding: 2%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

.img-fluid {
    /* max-height: 600px; */
    height: 100vh;
    object-fit: cover;
}

.carousel-caption {
    color: white;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

.carouselControls {
    position: absolute;
    z-index: -1;
}

.carousel-inner {
    height: 100vh;
}

#state-group,
#school-group {
    width: auto;
    margin: 1rem auto;
}

#school-group {
    display: none;
}

.ball-pulse-sync {
    display: none;
    text-align: center;
    padding-top: 1rem;
}

#results-page {
    display: none;
    padding-top: 5rem;
}

.toaster {
    position: relative;
    min-height: 200px;
    min-width: 300px;
    margin-right: 1rem;
    margin-top: 5rem;
}

.card {
    background-color: transparent;
}

.card-body {
    background-color: gray;
    color: white;
}
